body {
    background-color: #fff3e0;
    font-family: 'Lucida Console', Monaco, monospace;
    text-align: center;
    padding: 40px;
}

.video-container {
    margin: 25px auto;
}

.animated-box {
    width: 245px;
    height: 58px;
    margin: 35px auto;
    background-color: #ff6f00;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 12px;
    position: relative;
}
